body{
margin:0;
font-family:Vazirmatn;
background:#1A0A31;
color:white;
}

/* TOP BAR */
.topbar{
display:flex;
justify-content:space-around;
align-items:center;
position:sticky;
top:0;
background:#1A0A31;
padding:10px;
border-bottom:1px solid #2D1856;
z-index:1000;
}

.tab{
font-size:13px;
color:#C9C4D8;
padding:6px 10px;
border-radius:10px;
cursor:pointer;
transition:0.2s;
}

.tab.active{
background:#8B5CF6;
color:white;
}

/* FEED */
#feed{
padding:10px;
}

/* POST CARD */
.post{
background:#241243;
border-radius:16px;
padding:12px;
margin-bottom:12px;
}

/* HEADER */
.postHeader{
display:flex;
align-items:center;
gap:10px;
margin-bottom:10px;
}

.avatar{
width:40px;
height:40px;
border-radius:50%;
object-fit:cover;
}

.userInfo b{
display:block;
font-size:14px;
}

.userInfo small{
font-size:11px;
color:#C9C4D8;
}

/* MEDIA */
.media{
width:100%;
border-radius:12px;
margin-bottom:10px;
}

/* CAPTION */
.caption{
font-size:13px;
color:#FFFFFF;
margin-bottom:10px;
line-height:1.4;
}

/* ACTIONS */
.actions{
display:flex;
justify-content:space-between;
}

.actions button{
background:transparent;
border:none;
color:#C9C4D8;
font-size:13px;
cursor:pointer;
}
